Repository maryyang1234/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint"
    ],
    "*.{json,css,md}": [
        "prettier --write",
        "git add"
    ]
}

chore(package): fix name version
  package.json
Due: prettier --write

fix(version): fix lib ts
  package.json
Due: prettier --write

fix(Card): fix title font weight
  package.json
  src/components/Card/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Tabs): fix tabBarClassName
  package.json
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/Tabs.tsx
Due: prettier --write

fix(Tabs): TabBar add tabBarClassName
  package.json
  src/components/Tabs/Tabs.tsx
Due: prettier --write

fix(Css): table、tab css修改
  package.json
  src/components/Table/style/index.js
  src/components/Tabs/style/index.ts
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Css): button css调整
  package.json
  src/components/Button/style/index.tsx
  src/components/ThemeProvider/designTokens.js
  src/style/animation.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Grid): fix Col 24
  package.json
  src/components/Grid/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

Update package.json
  package.json
Due: prettier --write

fix(RadioButton): radioButton css调整
  src/components/Button/style/index.tsx
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Card): card css调整
  src/components/Card/style/index.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Package): 更新版本号
  package.json
Due: prettier --write

fix(Card): card css调整
  src/components/Card/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(RadioGroup): radio hover css调整
  package.json
  src/components/Button/style/index.tsx
Due: prettier --write

fix(Breadcrumb): breadcrumb style
  src/components/Breadcrumb/style/index.tsx
Due: none

style(Table): table style
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Item): item style
  src/components/Form/Item.tsx
  src/components/Form/style/index.tsx
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(RadioGroup): radio tag style
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Tabs): tabs style
  src/components/Tabs/style/index.ts
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Tabs): tab designtoken
  package.json
  src/components/Tabs/style/index.ts
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Modal): modal item style
  src/components/Form/style/index.tsx
  src/components/Modal/Modal.jsx
  src/components/Modal/style/index.js
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/SvgIconWrap.jsx
  src/components/SvgIcon/style/index.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Tab): tab hover
  src/components/Tabs/style/index.ts
Due: none

fix(Package): update version
  package.json
Due: prettier --write

style(Table): table size
  src/components/Table/Table.jsx
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

style(Button): button style
  src/components/Button/style/index.tsx
Due: none

fix(Radio): radio style
  src/components/Button/style/index.tsx
  src/components/Radio/style/index.js
  src/components/ThemeProvider/designTokens.js
  src/components/Tooltip/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

chore(Package): upgrade version
  package.json
Due: prettier --write

style(Table): table size
  src/components/Input/Search.tsx
  src/components/Table/style/index.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix: 调整windows在next.js项目中的报错
  src/components/Menu/style/index.ts
  src/hooks/useSimpleVirtualList.tsx
  src/hooks/useVirtualList.tsx
  src/utils/isFirefox.ts
Due: none

fix(Editable): editable style
  src/components/Breadcrumb/style/index.tsx
  src/components/EditableTable/EditableTable.jsx
  src/components/EditableTable/style/index.js
  src/components/Form/style/index.tsx
  src/components/Radio/style/index.js
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/icons/Delete.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Editable): editable style
  src/components/Breadcrumb/style/index.tsx
  src/components/Checkbox/style/index.ts
  src/components/EditableTable/EditableTable.jsx
  src/components/EditableTable/style/index.js
  src/components/Form/style/index.tsx
  src/components/NumberInput/style/index.js
  src/components/Radio/style/index.js
  src/components/Select/Select.tsx
  src/components/Select/style/index.tsx
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/icons/Delete.jsx
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

style(Notice): notice style
  src/components/Notice/Notice.jsx
  src/components/Notice/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

refactor(Version): version update
  package.json
Due: prettier --write

fix(Padding): padding style
  src/components/Card/style/index.js
  src/components/NumberInput/style/index.js
  src/components/Radio/style/index.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Style): fix style
  src/components/Card/style/index.js
  src/components/Select/style/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

style(Select): select style
  src/components/Button/Button.tsx
  src/components/Select/Select.tsx
Due: none

fix(Radio): update radio style
  src/components/Radio/style/index.js
  src/components/Select/style/index.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Form): form style
  src/components/Form/style/index.tsx
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Style): update select style
  package.json
  src/components/Radio/style/index.js
  src/components/Select/style/index.tsx
  src/components/Switch/style/index.ts
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint
