Repository maryyang1234/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint"
    ],
    "*.{json,css,md}": [
        "prettier --write",
        "git add"
    ]
}

fix(Item): label break css
  package.json
  src/components/Form/style/index.tsx
Due: prettier --write

fix(Input): clearable true
  package.json
  src/components/Input/Input.tsx
Due: prettier --write

fix(ru): add ru language
  package.json
  src/components/Calendar/locale/ru-RU.js
  src/components/DatePicker/locale/ru-RU.js
  src/components/EditableList/locale/ru-RU.js
  src/components/Menu/locale/ru-RU.js
  src/components/Modal/locale/ru-RU.js
  src/components/Pagination/locale/ru-RU.js
  src/components/PopConfirm/locale/ru-RU.js
  src/components/Select/locale/ru-RU.js
  src/components/Slider/locale/ru-RU.js
  src/components/Table/locale/ru-RU.js
  src/components/Transfer/locale/ru-RU.js
  src/components/Upload/locale/ru-RU.js
  src/sharedComponents/Search/locale/ru-RU.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(language): update ru
  package.json
  src/components/Calendar/locale/ru_RU.js
  src/components/DatePicker/locale/ru_RU.js
  src/components/EditableList/locale/ru_RU.js
  src/components/LocaleProvider/locale/ru_RU.js
  src/components/Menu/locale/ru_RU.js
  src/components/Modal/locale/ru_RU.js
  src/components/Pagination/locale/ru_RU.js
  src/components/PopConfirm/locale/ru_RU.js
  src/components/Select/locale/ru_RU.js
  src/components/Slider/locale/ru_RU.js
  src/components/Table/locale/ru_RU.js
  src/components/Transfer/locale/ru_RU.js
  src/components/Upload/locale/ru_RU.js
  src/sharedComponents/Search/locale/ru_RU.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(version): update version 1.2.20
  package.json
Due: prettier --write

fix(Select): add extraChildren
  package.json
  src/components/Select/Select.tsx
Due: prettier --write

fix(Form): 错误提示增加flex样式, 防止文字icon换行
  src/components/Form/style/index.tsx
Due: none

fix(version): update version 1.2.23
  package.json
Due: prettier --write

fix(TabBar): add delete icon
  package.json
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/icons/Close.jsx
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/style/index.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(version): update version 1.2.24
  package.json
Due: prettier --write

fix(Table): 含有子表格时固定列的left更改
  package.json
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Col): 支持Col的响应式
  package.json
  src/components/Grid/Col.jsx
  src/components/Grid/style/index.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(package): styled-base
  package.json
Due: prettier --write

fix(global): _injectglobal
  package.json
  src/style/globalAnimation.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Tooltip): 支持mouseEnterDelay默认0.4s
  package.json
  src/components/Popover/Popover.jsx
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

feat(Item): supports the right alignment of the horizontal form label
  src/components/Form/style/index.tsx
Due: none

feat(Item): change the required to the left
  src/components/Form/Item.tsx
  src/components/Form/style/index.tsx
Due: none

feat(Item): change the prompt icon to the left of label
  src/components/Form/Item.tsx
  src/components/Form/style/index.tsx
Due: none

feat(package): update version number
  package.json
Due: prettier --write

feat(Upload): button style
  package.json
  src/components/Upload/Selector.jsx
  src/components/Upload/Upload.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

feat(Upload): interface UploadProps
  index.d.ts
  package.json
Due: prettier --write

feat(Item): 调整label居中对齐
  package.json
  src/components/Form/Item.tsx
  src/components/Form/style/index.tsx
Due: prettier --write

feat(react): 升级react到18
  package.json
  src/components/Radio/Radio.jsx
  src/components/Table/Table.jsx
  src/components/ZForm/ZForm.jsx
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

feat(react): 升级react到18
  package.json
Due: prettier --write
