Repository maryyang1234/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/components/**/*.(js|ts|jsx|tsx)'",
        "eslint"
    ],
    "*.{json,css,md}": [
        "prettier --write",
        "git add"
    ]
}

style(Table): table title size
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Form): form fontsize
  src/components/Form/style/index.tsx
Due: none

fix(Select): select height
  src/components/NumberInput/style/index.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

style(Checkbox): checkbox icon size
  src/components/Checkbox/style/index.ts
Due: none

fix(Input): update Input radius
  package.json
  src/components/Input/style/index.ts
Due: prettier --write

fix(Style): update radio Pagination style
  src/components/Pagination/style/index.js
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Card): fix card scrollx
  src/components/Card/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

style(Notice): notice text color
  src/components/Notice/style/index.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Input): update input height
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

style(Select): popover width
  src/components/Select/Select.tsx
  src/components/Select/style/index.tsx
Due: none

fix(Select): update select size
  src/components/Select/style/index.tsx
Due: none

fix(Style): update Radio Switch size
  package.json
  src/components/Switch/style/index.ts
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Height): update Height
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Version): update version
  package.json
Due: prettier --write

fix(FormItem): update marginbottom 30px
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Editable): disabled addBar style
  src/components/EditableTable/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Style): update borderRadius
  src/components/Pagination/style/index.js
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Button): update size height
  src/components/Button/style/index.tsx
  src/components/Radio/style/index.js
  src/components/ThemeProvider/designTokens.js
  src/style/utils.ts
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Textarea): update borderradius
  src/components/Textarea/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(DatePicker): update style
  package.json
  src/components/DatePicker/style/index.ts
Due: prettier --write

fix(FontSize): update fontsize md
  package.json
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Radio): list selected bg
  package.json
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Select): support clear
  package.json
  src/components/Select/Select.tsx
  src/components/Select/style/index.tsx
Due: prettier --write

fix(Menu): font size update
  package.json
  src/components/Checkbox/style/index.ts
  src/components/Menu/style/index.ts
Due: prettier --write

fix(Tab): change new css
  package.json
  src/components/Tabs/style/index.ts
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Tab): left css bug
  package.json
  src/components/Tabs/style/index.ts
Due: prettier --write

fix(Tab): border bottom css
  package.json
  src/components/Tabs/style/index.ts
Due: prettier --write

fix(NumberInput): default css update
  package.json
  src/components/NumberInput/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Style): use new css
  package.json
  src/components/ActionList/ActionList.tsx
  src/components/Card/style/index.js
  src/components/Combine/style/index.ts
  src/components/Input/Input.tsx
  src/components/Radio/Group.jsx
  src/components/Radio/Radio.jsx
  src/components/Select/Select.tsx
  src/components/Table/Table.jsx
  src/components/Tabs/style/index.ts
  src/components/ThemeProvider/designTokens.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Package): update lib
  package.json
Due: prettier --write

fix(Button): icon hover style
  src/components/Button/style/index.tsx
Due: none

fix(Select): clear icon style
  src/components/Select/Select.tsx
  src/components/Select/style/index.tsx
Due: none

fix(FormItem): label margin style
  src/components/Form/Item.tsx
  src/components/Form/style/index.tsx
Due: none

fix(Radio): list radio css
  package.json
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint

fix(Select): popover from bottomLeft
  package.json
  src/components/Select/Select.tsx
Due: prettier --write

fix(Tabbar): fix scroll x
  package.json
  src/components/Tabs/style/index.ts
Due: prettier --write

fix(Checkbox): group support disabledTip
  package.json
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/Group.tsx
Due: prettier --write

feat(Table): row expand icon fixed
  src/components/Table/Table.jsx
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/components/**/*.(js|ts|jsx|tsx)', eslint
